html, body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', Raleway !important;
}

html {
    scroll-behavior: smooth;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.navbar-toggler-icon {
    color: white
}

::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 15px;
    background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url('images/DSC03383.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-dark {
    background-color: rgb(35, 35, 35) !important;
}

.navbar {
    transition: 750ms ease;
    background:transparent;
}
.navbar.scrolled {
    background-color: rgba(30, 30, 30, 0.9);
} 

.darkbg {
    background-color:rgb(24, 24, 24);
}

.go-bot {
    background-color: rgba(0, 0, 0, 0);
    margin-top: -50px;
}

.go-top {
    background-color: rgba(150, 150, 150, 0.4);
}
    


